# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
quote_type = single
trim_trailing_whitespace = true

[{*.yml,.*rc}]
indent_style = space
indent_size = 2

# Build process keeps changing package.json back to spaces
[package.json]
indent_style = space
indent_size = 2
